
.header-container {
  display: flex;
  background-color: #176498;
  justify-content: center;
  //position: fixed;
  width: 100%;
  //flex: auto;
  height: 60px;
  //z-index: 1;
}
.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  input {
    padding: 10px 20px;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
/*.product-list {
    display: flex;
    flex-wrap: wrap;
}*/


.main-container {
  &.row{
  margin-top: 2rem;
  }
}
.product-category-group {
  flex-wrap: wrap;
  &.btn-group {
    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }
}
.product-category-btn {
  &.btn{
    
    color:black;
    
    &:hover, &:focus, &.active {
      color:orange;
    }
    &:focus {
      box-shadow: none;
    }
    @media (min-width: 768px) {
      display: block;
    }
  }
}
.product-list-wrapper {
  margin-top: 3rem;
}